/* font */
@import url("https://use.typekit.net/yai7swf.css");

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3D3C3E;
    font-family: lores-15, sans-serif;
    font-size: 22px;
    padding: 0px 20vw;
}

.main__wrapper {
    background: white;
    height: 100vh;
}

.main__top {
    background-image: url(../img/Groupe\ 35.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.main__bottom {
    background-image: url(../img/Groupe\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.main__tchat {
    display: inline-block;
    border: 5px solid #3D3C3E;
    border-radius: 10px;
    background: white;
    padding: 20px 100px 20px 20px;
    margin-top: 300px;
    margin-left: 20px;
    width: auto;
}

.main__btn {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
}
.main__btn:hover {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    font-size: 25px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

.btn-left {
    background-color: #DF5754;
    margin-right: 60px;
}
.btn-right {
    background-color: #70B8E0;
    margin-left: 60px;

}

.btn__a {
    color: antiquewhite;
    text-decoration: none;

}

.name__form {
    display: flex;
    flex-direction: column;
}

.dresseur_name {
    font-size: 28px;
}

.name__form input[type='text']{
    display: flex;
    border: 5px solid #3D3C3E;
    border-radius: 10px;
    background: white;
    padding: 20px 50px 20px 20px;
    margin: 10px;
    width: 100%;
    font-size: 25px;
    font-family: lores-15, sans-serif;
}

.name__form button {
    border: none;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0px 30px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background: #70B8E0;
    color: antiquewhite;
    font-family: lores-15, sans-serif;
    width: 50%;
    margin: auto;
}

.name__form button:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

/* choice */
.choice__top {
    background-image: url(../img/Groupe\ 36.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}
.choice__bottom {
    background-image: url(../img/Groupe\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.choice__bottom form {
    display: inline-block;
    border: 5px solid #3D3C3E;
    border-radius: 10px;
    background: white;
    padding: 30px 20px 50px;
    margin-top: 10px;
    height: 300px;
    overflow: scroll;
}

.pokemon__form {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 30vw;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.choice__form__btn {
    border: none;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 0px 30px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background: #70B8E0;
    color: antiquewhite;
    font-family: lores-15, sans-serif;
}

.choice__form__btn:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

/* battle */

.battle__top {
    background-image: url(../img/Rectangle\ 2.png);
    background-position: center;    
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.battle-info__top {
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.pokemon__plateforme {
    width: 250px;
    height: 60px;
    background: #5FDB76;
    border: 1px solid #3D3C3E; 
    border-radius: 200px / 50px; 
    margin-top: 120px;
    margin-right: 80px;
    box-shadow: 0px 10px 20px 0px rgba(70,70,70,0.75);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pokemon__info {
    display: inline-block;
    border: 5px solid #3D3C3E;
    border-radius: 10px;
    background: white;
    width: 280px;
    height: 122px;
    padding: 15px 35px 15px 15px;
    margin: 30px 50px;
}

.info__top {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.info__mid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 8px;
    background-color: black;
    border-radius: 50px;
    height: 16px;
    font-size: 12px;
    color: #DF5754;
    width: 75%;
    padding: 0px 5px 0px 10px;
    margin-left: 70px;
    
}
.pv__container {
    height: 8px;
    background: rgb(46, 224, 46);
    width: 85%;
    border-radius: 50px;
    margin-left: 10px;
}

.info__bottom {
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

.battle-info__bottom {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-top: 50px;
}

.battle-info__bottom .pokemon__plateforme {
    width: 300px;
    height: 80px;
    background: #5FDB76;
    border: 1px solid #3D3C3E; 
    border-radius: 280px / 80px; 
    margin-top: 70px;
    margin-left: 80px;
    box-shadow: 0px 10px 20px 0px rgba(70,70,70,0.75);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.battle__tchat {
    display: inline-block;
    position: absolute;
    top: 60px;
    border: 5px solid #3D3C3E;
    border-radius: 10px;
    background: white;
    padding: 20px 100px 20px 20px;
    margin-top: 300px;
    margin-left: 20px;
    width: 30%;
}

.battle__bottom {
    background-image: url(../img/Groupe\ 7.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.battle__btn__top {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background: #DF5754;
}

.battle__btn__bottom {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background: #70B8E0;
}

.battle__btn__top:hover,
.battle__btn__bottom:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.50);
}

.sprite-back {
    height: 250%;
}
.sprite-front {
    height: 250%;
}

/* Overlay */

.overlay {
    height: 50vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: antiquewhite;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

.overlay p:first-child {
    font-size: 25px;
    margin-bottom: 10px;
}

.btn__replay {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background: #DF5754;
}
.btn__change {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background: #70B8E0;
}
.btn__quit {
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    font-size: 25px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.50);
    background: #DF5754;
}